<script src="js/flv.min.js"></script>
<video id="videoElement" muted></video>
<script>
    if (flvjs.isSupported()) {
        var flv_type = 'flv';
        var video_url = 'http://127.0.0.1:7001/live/movie.flv';
        // var u = navigator.userAgent;
        // if (u.indexOf("iPhone") > -1 || u.indexOf("iOS") > -1) {
        //     flv_type = 'hls';
        //     video_url = 'http://192.168.0.102:7002/live/movie.m3u8';
        // }
        // flv_type = 'flv';
        // video_url = 'http://192.168.0.102:7002/live/movie.m3u8';
        console.log(flv_type);
        console.log(video_url);
        var videoElement = document.getElementById('videoElement');
        var flvPlayer = flvjs.createPlayer({
            type: flv_type,
            url: video_url
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    }
</script>